# Node/Yarn
node_modules/
.yarn/

# Build output
dist/
build/

# Environment variables
.env*
!.env-reference

# Python and conda
__pycache__/
*.pyc
.env/
.pytest_cache/
.venv/
env/
conda-env/
venv/

# Sample data
/sample-data

# macOS
.DS_Store

# Logs
*.log